<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">

  {% if page.title %}
    <title>{{page.title}} | The Geek Tech Blog</title>
  {% else %}
    <title>The Geek Tech Blog</title>
  {% endif %}
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/unsemantic/0/unsemantic-grid-responsive.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/xcode.min.css">
</head>

<body>
  <header>
    <div class="grid-container grid-100">
      <h1>The Geek Tech blog</h1>
      <h6 class="subheader">A blog on the interwebs, about cool stuffs</h6>
    </div>
    <nav class="navigation grid-100">
      <ul class="row grid-container grid-100">
        <li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="/">Home</a></li>
        <!-- <li><a href="/about">About</a></li> -->
        <li{% if page.url == '/posts/index.html' %} class="active"{% endif %}><a href="/posts">Posts</a></li>
        <li{% if page.url == '/categories/index.html' %} class="active"{% endif %}><a href="/categories">Categories</a></li>
        <li{% if page.url == '/projects/index.html' %} class="active"{% endif %}><a href="/projects">Projects</a></li>
      </ul>
    </nav>
  </header>
  <div class="grid-container grid-100">
    <div class="sidebar grid-30 push-70 columns white-panel">
      <h5>About Me</h5>
      <p>I am a geek and a film enthusiast. I currently work as a developer at <a href="http://geostrategies.com">GeoStrategies.</a> I have good knowledge of AngularJS, HTML, CSS, PHP &amp; JavaScript.</p>
      <p>If you'd like to find me elsewhere, here are some links:</p>
      <a href="http://twitter.com/daviesgeek" class="icon twitter"></a>
      <a href="http://github.com/daviesgeek" class="icon github"></a>
      <a href="http://stackexchange.com/users/448864/daviesgeek" class="icon stackexchange"></a>
      <p>And of course, if you'd like to use your favorite RSS reader:</p>
      <a href="/feed.xml" class="icon rss"></a>
    </div>
    <div class="content grid-70 pull-30 columns">