<div class="sidebar grid-30 columns white-panel">
  <h5>About Me</h5>
  <img class="grid-100" src="http://www.gravatar.com/avatar/b4d9c445d22743e0c9283a9b023c053f?s=512" alt="">
  <p>I am a geek and a film enthusiast. I currently work as a developer at <a href="http://geostrategies.com">GeoStrategies.</a> I have good knowledge of JavaScript, HTML, CSS, &amp; PHP.</p>
  <p>To get in touch with me, feel free to shoot me an email <a href="mailto:&#109;&#097;&#116;&#116;&#104;&#101;&#119;&#064;&#100;&#097;&#118;&#105;&#101;&#115;&#103;&#101;&#101;&#107;&#046;&#099;&#111;&#109;">&#109;&#097;&#116;&#116;&#104;&#101;&#119;&#064;&#100;&#097;&#118;&#105;&#101;&#115;&#103;&#101;&#101;&#107;&#046;&#099;&#111;&#109;</a></p>
  <p>If you'd like to find me elsewhere, here are some links:</p>
  <a href="http://twitter.com/daviesgeek" class="icon twitter" target="_blank"></a>
  <a href="http://github.com/daviesgeek" class="icon github" target="_blank"></a>
  <a href="http://stackexchange.com/users/448864/daviesgeek" class="icon stackexchange" target="blank"></a>
  <p>And of course, if you'd like to use your favorite RSS reader:</p>
  <a href="/feed.xml" class="icon rss"></a>
</div>